.cards-skeleton-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 0px 15px 0px;
}

.card-skeleton {
  width: 260px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden; /* To prevent overflow of content */
  animation: pulse 1.5s infinite;
  position: relative;
}

.card-skeleton .ant-skeleton {
  height: 430px;
  border-radius: 5px;
}

.card-skeleton::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2)
  );
  animation: loading 1.5s infinite;
  border-radius: 5px; /* Match the card's border radius */
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 584px) {
  .card-skeleton {
    width: 300px;
  }
}